:root {
	--primary-blue: #0079ff;
	--primary-green: #00dfa2;
	--standard-blue: #4f709c;
	--dark-blue: #213555;
	--chrome: #d8c4b6;
	--gray: #f5efe7;
	--black: #000;
	--white: #fff;
}

html {
	background-color: var(--gray);
}

* {
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	border-style: none;
	outline-style: none;
	text-decoration: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 12px;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 100px;
	border-radius: 8px;
	background: var(--dark-blue);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

a {
	color: var(--black);
	transition: color 500ms;
}

a:hover {
	color: var(--chrome);
}

@keyframes spinning {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* navbar container */
.nav-container {
	z-index: 1;
	background-color: var(--white);
	top: 0;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	transition: top 500ms;
}
.nav-container .nav-box {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	border-left: 2px var(--black) solid;
}
.nav-container #logo {
	padding: 0.75em;
	object-fit: contain;
	width: 80px;
	animation: spinning 2s infinite linear;
}
.nav-container .nav-title {
	margin: 0.25em auto;
	border-radius: 16px;
	font-size: 1em;
}
.nav-container {
	display: flex;
	position: fixed;
	border: 2px var(--black) solid;
}
.nav-title {
	font-weight: bold;
}

/* pages container */
#headquarter-page.page-container {
	padding: 3em 3em;
}
#message-page.page-container {
	padding: 3em 3em 5em 3em;
}
#welcome-page.page-container {
	color: #fff;
}
.page-container {
	overflow: hidden;
	padding: 10em 3em;
	width: 100%;
	height: 1080px;
	border: 2px var(--black) solid;
}

section {
	overflow: hidden;
}

video {
	z-index: -1;
	object-fit: cover;
	object-position: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 1080px;
	filter: contrast(0.1);
	filter: brightness(0.2);
}

/* set default font size */
h1 {
	font-size: 24px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 18px;
	font-weight: 500;
}
p {
	font-size: 14px;
	font-weight: bold;
}
label {
	font-size: 14px;
}
.hidden {
	cursor: pointer;
	/* display: none; */
	color: beige;
}

/* input style */
textarea {
	height: 200px;
	resize: none;
}
textarea,
input[type="text"],
input[type="date"] {
	width: 100%;
	font-size: 12px;
	padding: 0.5em 1em;
	border-radius: 7.5px;
	border: 1px var(--black) solid;
}
input[type="date"]::-webkit-calendar-picker-indicator {
	cursor: pointer;
}
input[type="radio"] {
	margin: 0 1em;
	transform: scale(1.2);
}
input[type="submit"] {
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	background-color: var(--white);
	border-radius: 7.5px;
	border: 2px var(--black) solid;
	padding: 0.75em;
	transition-duration: 500ms;
}
input[type="submit"]:hover {
	color: var(--white);
	background-color: var(--standard-blue);
}
/* footer style */
.footer-container {
	padding: 0 2em;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 60px;
	border: 2px var(--black) solid;
}
/* message us section */
table,
tr,
td:not(.span) {
	padding: 0.5em;
	border-collapse: collapse;
}
.message-container {
	display: flex;
	flex-direction: column;
	row-gap: 2em;
	height: 100%;
}
.message-sent {
	color: rgb(255, 255, 255, 0.8);
	background-color: var(--dark-blue);
	overflow: hidden;
	word-wrap: break-word;
	width: 100%;
	padding: 0.5em;
	border-radius: 10px;
	border: 2px var(--black) solid;
}
.message-sent {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.message-box {
	display: flex;
	flex-direction: column;
}
/* headquarter section */
.hq-img-container,
.hq-img-container .hq-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.hq-img-container {
	row-gap: 2.5em;
}
.hq-img-container .hq-box {
	flex-direction: column;
	align-items: center;
	width: fit-content;
}
.hq-img-container .hq-box .hq-img {
	object-fit: cover;
	margin: 2em 0 0 0;
	border: 5px var(--black) solid;
	border-radius: 100%;
	transform: scale(0.75);
	width: 200px;
	height: 200px;
	transition-duration: 500ms;
}
.hq-box:hover #jakarta.hq-img,
.hq-box:hover #bandung.hq-img,
.hq-box:hover #surabaya.hq-img {
	transform: scale(0.8);
}

/* phones */
@media only screen and (min-width: 600px) {
	/* set default font size */
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 22px;
	}
	h3 {
		font-size: 18px;
		font-weight: 500;
	}
	p {
		font-size: 20px;
		font-weight: bold;
	}
	label {
		font-size: 20px;
	}
	/* input style */
	textarea {
		resize: none;
	}
	textarea,
	input[type="text"],
	input[type="date"] {
		width: 100%;
		font-size: 16px;
		padding: 0.5em 1em;
		border-radius: 7.5px;
		border: 1px var(--black) solid;
	}
	input[type="date"]::-webkit-calendar-picker-indicator {
		cursor: pointer;
	}
	input[type="radio"] {
		margin: 0 1em;
		transform: scale(1.2);
	}
	input[type="submit"] {
		font-size: 16px;
		font-weight: bold;
		width: 100%;
		background-color: var(--white);
		border-radius: 7.5px;
		border: 2px var(--black) solid;
		padding: 0.75em;
		transition-duration: 500ms;
	}
	input[type="submit"]:hover {
		color: var(--white);
		background-color: var(--standard-blue);
	}
	/* footer style */
	.footer-container {
		padding: 0 2em;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
		height: 60px;
		border: 2px var(--black) solid;
	}
	/* message us section */
	table,
	tr,
	td:not(.span) {
		padding: 0.5em;
		border-collapse: collapse;
	}
	.message-container {
		display: flex;
		flex-direction: column;
		row-gap: 2em;
		height: 100%;
	}
	.message-sent {
		overflow: hidden;
		word-wrap: break-word;
		width: 100%;
		padding: 0.5em;
		border-radius: 10px;
		border: 2px var(--black) solid;
	}
	.message-sent {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
	.message-box {
		display: flex;
		flex-direction: column;
	}
	/* headquarter section */
	.hq-img-container,
	.hq-img-container .hq-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.hq-img-container {
		row-gap: 2.5em;
	}
	.hq-img-container .hq-box {
		flex-direction: column;
		align-items: center;
		width: fit-content;
	}
	.hq-img-container .hq-box .hq-img {
		object-fit: cover;
		margin: 2em 0 0 0;
		border: 5px var(--black) solid;
		border-radius: 100%;
		transform: scale(0.75);
		width: 200px;
		height: 200px;
		transition-duration: 500ms;
	}
	.hq-box:hover #jakarta.hq-img,
	.hq-box:hover #bandung.hq-img,
	.hq-box:hover #surabaya.hq-img {
		transform: scale(0.8);
	}
	/* pages container */
	.page-container {
		overflow: hidden;
		padding: 8.5em 3em;
		width: 100%;
		height: 1080px;
	}
	#headquarter-page.page-container {
		padding: 2em 3em;
	}
	#message-page.page-container {
		padding: 2em 3em 5em 3em;
	}
	/* navbar container */
	.nav-container {
		z-index: 1;
		background-color: var(--white);
		top: 0;
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		transition: top 500ms;
	}
	.nav-container .nav-box {
		flex-direction: row;
		flex-grow: 1;
		justify-content: end;
		align-items: center;
	}
	.nav-container #logo {
		padding: 0.75em;
		object-fit: contain;
		width: 100px;
	}
	.nav-container .nav-title {
		margin: auto auto;
		border-radius: 16px;
		font-size: 1em;
	}
}

/* tablet */
@media only screen and (min-width: 768px) {
	/* set default font size */
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 22px;
	}
	h3 {
		font-size: 18px;
		font-weight: 500;
	}
	p {
		font-size: 20px;
		font-weight: bold;
	}
	label {
		font-size: 20px;
	}
	/* input style */
	textarea {
		resize: none;
	}
	textarea,
	input[type="text"],
	input[type="date"] {
		width: 100%;
		font-size: 20px;
		padding: 0.5em 1em;
		border-radius: 7.5px;
		border: 1px var(--black) solid;
	}
	input[type="date"]::-webkit-calendar-picker-indicator {
		cursor: pointer;
	}
	input[type="radio"] {
		margin: 0 1em;
		transform: scale(1.2);
	}
	input[type="submit"] {
		font-size: 16px;
		font-weight: bold;
		width: 100%;
		background-color: var(--white);
		border-radius: 7.5px;
		border: 2px var(--black) solid;
		padding: 0.75em;
		transition-duration: 500ms;
	}
	input[type="submit"]:hover {
		color: var(--white);
		background-color: var(--standard-blue);
	}
	/* footer style */
	.footer-container {
		padding: 0 2em;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
		height: 60px;
		border: 2px var(--black) solid;
	}
	/* message us section */
	table,
	tr,
	td:not(.span) {
		padding: 0.5em;
		border-collapse: collapse;
	}
	.message-container {
		display: flex;
		flex-direction: column;
		row-gap: 2em;
		height: 100%;
	}
	.message-sent {
		overflow: hidden;
		word-wrap: break-word;
		width: 100%;
		padding: 0.5em;
		border-radius: 10px;
		border: 2px var(--black) solid;
	}
	.message-sent {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
	.message-box {
		display: flex;
		flex-direction: column;
	}
	/* headquarter section */
	.hq-img-container,
	.hq-img-container .hq-box {
		display: flex;
	}
	.hq-img-container {
		column-gap: 2.5em;
	}
	.hq-img-container .hq-box {
		flex-direction: column;
		align-items: center;
		width: fit-content;
	}
	.hq-img-container .hq-box .hq-img {
		object-fit: cover;
		border: 5px var(--black) solid;
		border-radius: 100%;
		transform: scale(0.75);
		width: 200px;
		height: 200px;
		transition-duration: 500ms;
	}
	.hq-box:hover #jakarta.hq-img,
	.hq-box:hover #bandung.hq-img,
	.hq-box:hover #surabaya.hq-img {
		transform: scale(0.8);
	}
	/* pages container */
	.page-container {
		overflow: hidden;
		padding: 8.5em 3em;
		width: 100%;
		height: 1080px;
	}
	#headquarter-page.page-container {
		padding: 2em 3em;
	}
	#message-page.page-container {
		padding: 2em 3em 5em 3em;
	}
	/* navbar container */
	.nav-container {
		z-index: 1;
		background-color: var(--white);
		top: 0;
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		transition: top 500ms;
	}
	.nav-container .nav-box {
		flex-grow: 1;
		justify-content: end;
		align-items: center;
	}
	.nav-container #logo {
		padding: 0.75em;
		object-fit: contain;
		width: 100px;
	}
	.nav-container .nav-title {
		margin: auto auto;
		border-radius: 16px;
		font-size: 1.25em;
	}
}

/* mini desktop */
@media only screen and (min-width: 992px) {
	/* set default font size */
	h1 {
		font-size: 34px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 18px;
		font-weight: 500;
	}
	/* input style */
	textarea {
		resize: none;
	}
	textarea,
	input[type="text"],
	input[type="date"] {
		width: 100%;
		font-size: 16px;
		padding: 0.5em 1em;
		border-radius: 7.5px;
		border: 1px var(--black) solid;
	}
	input[type="date"]::-webkit-calendar-picker-indicator {
		cursor: pointer;
	}
	input[type="radio"] {
		margin: 0 1em;
		transform: scale(1.2);
	}
	input[type="submit"] {
		font-size: 16px;
		font-weight: bold;
		width: 100%;
		background-color: var(--white);
		border-radius: 7.5px;
		border: 2px var(--black) solid;
		padding: 0.75em;
		transition-duration: 500ms;
	}
	input[type="submit"]:hover {
		color: var(--white);
		background-color: var(--standard-blue);
	}
	/* footer style */
	.footer-container {
		padding: 0 2em;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
		height: 60px;
		border: 2px var(--black) solid;
	}
	/* message us section */
	table,
	tr,
	td:not(.span) {
		padding: 0.5em;
		border-collapse: collapse;
	}
	.message-container aside p {
		font-size: 16px;
		font-weight: bold;
	}
	.message-container {
		display: flex;
		flex-direction: column;
		row-gap: 2em;
		height: 100%;
	}
	.message-sent {
		overflow: hidden;
		word-wrap: break-word;
		width: 100%;
		padding: 0.5em;
		border-radius: 10px;
		border: 2px var(--black) solid;
	}
	.message-sent {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
	.message-box {
		display: flex;
		flex-direction: column;
	}
	/* headquarter section */
	.hq-img-container,
	.hq-img-container .hq-box {
		display: flex;
		flex-direction: row;
	}
	.hq-img-container {
		column-gap: 2.5em;
	}
	.hq-img-container .hq-box {
		flex-direction: column;
		align-items: center;
		width: fit-content;
	}
	.hq-img-container .hq-box .hq-img {
		object-fit: cover;
		border: 5px var(--black) solid;
		border-radius: 100%;
		transform: scale(0.75);
		width: 250px;
		height: 250px;
		transition-duration: 500ms;
	}
	.hq-box:hover #jakarta.hq-img,
	.hq-box:hover #bandung.hq-img,
	.hq-box:hover #surabaya.hq-img {
		transform: scale(0.8);
	}
	/* pages container */
	.page-container {
		overflow: hidden;
		padding: 10em 5em;
		width: 100%;
		height: 1080px;
	}
	#headquarter-page.page-container {
		padding: 1.5em 3em;
	}
	#message-page.page-container {
		padding: 1.5em 3em 5em 3em;
	}
	/* navbar container */
	.nav-container {
		z-index: 1;
		background-color: var(--white);
		top: 0;
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		transition: top 500ms;
	}
	.nav-container .nav-box {
		flex-grow: 1;
		justify-content: end;
		align-items: center;
	}
	.nav-container #logo {
		padding: 0.75em;
		object-fit: contain;
		width: 100px;
	}
	.nav-container .nav-title {
		margin: auto 1em;
		border-radius: 16px;
		font-size: 1.5em;
	}
}

/* larger desktop */
@media only screen and (min-width: 1200px) {
	/* set default font size */
	h1 {
		font-size: 42px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 18px;
		font-weight: 500;
	}
	/* input style */
	textarea {
		resize: none;
	}
	textarea,
	input[type="text"],
	input[type="date"] {
		width: 100%;
		font-size: 16px;
		padding: 0.5em 1em;
		border-radius: 7.5px;
		border: 1px var(--black) solid;
	}
	input[type="date"]::-webkit-calendar-picker-indicator {
		cursor: pointer;
	}
	input[type="radio"] {
		margin: 0 1em;
		transform: scale(1.2);
	}
	input[type="submit"] {
		font-size: 16px;
		font-weight: bold;
		width: 100%;
		background-color: var(--white);
		border-radius: 7.5px;
		border: 2px var(--black) solid;
		padding: 0.75em;
		transition-duration: 500ms;
	}
	input[type="submit"]:hover {
		color: var(--white);
		background-color: var(--standard-blue);
	}
	/* footer style */
	.footer-container {
		padding: 0 2em;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
		height: 60px;
		border: 2px var(--black) solid;
	}
	/* message us section */
	table,
	tr,
	td:not(.span) {
		padding: 0.5em;
		border-collapse: collapse;
	}
	.message-container aside p {
		font-size: 20px;
	}
	.message-container,
	.message-box {
		display: flex;
		flex-direction: row;
	}
	.message-box table {
		flex-grow: 1;
	}
	.message-sent {
		overflow: hidden;
		word-wrap: break-word;
		width: 50%;
		padding: 0.5em;
		border-radius: 10px;
		border: 2px var(--black) solid;
	}
	.message-box {
		flex-grow: 0.2;
	}
	.message-sent {
		display: flex;
		flex-grow: 0.6;
	}
	.message-container {
		height: auto;
		column-gap: 5em;
	}
	/* headquarter section */
	.hq-img-container,
	.hq-img-container .hq-box {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}
	.hq-img-container {
		column-gap: 5em;
	}
	.hq-img-container .hq-box {
		flex-direction: column;
		align-items: center;
		width: fit-content;
	}
	.hq-img-container .hq-box .hq-img {
		object-fit: cover;
		border: 5px var(--black) solid;
		border-radius: 100%;
		transform: scale(0.75);
		width: 280px;
		height: 280px;
	}
	.hq-box:hover #jakarta.hq-img,
	.hq-box:hover #bandung.hq-img,
	.hq-box:hover #surabaya.hq-img {
		transform: scale(0.8);
	}
	/* pages container */
	.page-container {
		overflow: hidden;
		padding: 10em 5em;
		width: 100%;
		height: 1080px;
		border: 2px var(--black) solid;
	}
	#welcome-page.page-container {
	}
	#headquarter-page.page-container {
		padding: 2em 5em;
	}
	#message-page.page-container {
		padding: 2em 5em;
	}
	/* navbar container */
	.nav-container {
		z-index: 1;
		background-color: var(--white);
		top: 0;
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
	}
	.nav-container .nav-box {
		flex-grow: 1;
		justify-content: end;
		align-items: center;
	}
	.nav-container #logo {
		padding: 0.75em;
		object-fit: contain;
		width: 80px;
	}
	.nav-container .nav-title {
		margin: auto 2em;
		border-radius: 16px;
		font-size: 1.25em;
	}
	.hidden {
		width: fit-content;
		cursor: pointer;
		opacity: 0;
		transition-duration: 500ms;
	}
}
